<header ng-switch on="$location.path().indexOf('/Cliente/new') > -1">
	<h3 ng-switch-when="true">Create a new Cliente</h3>
	<h3 ng-switch-when="false">View or edit Cliente</h3>
</header>
<form id="ClienteForm" name="ClienteForm" class="form-horizontal" role="form">
	
	<!--================================================================================================-->
	<!-- 											Cliente												-->
	<!--================================================================================================--> 
	
	<div class="form-group" ng-class="{'has-error': ClienteForm.nomeComercial.$invalid}">
		<label for="nome" class="col-sm-2 control-label">Nome Comercial</label>
		<div id="nomeControls" class="col-sm-10">
			<input id="nomeComercial" name="nomeComercial" type="text" class="form-control" ng-model="cliente.nomeComercial" placeholder="Enter the Cliente Nome Comercial"></input>
		</div>
	</div>
	
	<div class="form-group" ng-class="{'has-error': ClienteForm.cpf.$invalid}">
		<label for="cpf" class="col-sm-2 control-label">CPF</label>
		<div id="cpfControls" class="col-sm-10">
			<input id="cpf" name="cpf" type="number" class="form-control" ng-model="cliente.cpf" placeholder="Enter the Cliente Cpf"></input>
			<span class="help-block error" ng-show="ClienteForm.cpf.$error.number">not a number</span>
		</div>
	</div>
	
	<!--================================================================================================-->
	<!-- 										Usuario													-->
	<!--================================================================================================-->
	
	<div class="form-group" ng-class="{'has-error': ClienteForm.usuario.nome.$invalid}">
		<label for="nomeUsuario" class="col-sm-2 control-label">Nome</label>
		<div id="nomeControls" class="col-sm-10">
			<input id="nomeUsuario" name="nomeUsuario" type="text" class="form-control" ng-model="cliente.usuario.nome" placeholder="Enter the Usuario Nome"></input>
		</div>
	</div>

	<div class="form-group" ng-class="{'has-error': ClienteForm.usuario.email.$invalid}">
		<label for="emailUsuario" class="col-sm-2 control-label">E-mail</label>
		<div id="emailControls" class="col-sm-10">
			<input id="emailUsuario" name="emailUsuario" type="email" class="form-control" ng-model="cliente.usuario.email" placeholder="E-mail"></input>
		</div>
	</div>
	
	<div class="form-group" ng-class="{'has-error': ClienteForm.telefone.$invalid}">
		<label for="telefoneUsuario" class="col-sm-2 control-label">Telefone</label>
		<div id="telefoneControls" class="col-sm-10">
			<input id="telefoneUsuario" name="telefoneUsuario" type="tel" class="form-control" ng-model="telefone" ui-mask="(99) 99999-9999" ng-pattern="/^\(\d{2}\)\d{4,5}-\d{4}$/" ui-mask-placeholder ui-mask-placeholder-char="_" placeholder="Telefone"></input>
		</div>
	</div>

	<div class="form-group" ng-class="{'has-error': ClienteForm.usuario.senha.$invalid}">
		<label for="senhaUsuario" class="col-sm-2 control-label">Senha</label>
		<div id="senhaControls" class="col-sm-10">
			<input id="senhaUsuario" name="senhaUsuario" type="password" class="form-control" ng-model="cliente.usuario.senha" placeholder="Enter the Usuario Senha"></input>
		</div>
	</div>
	
	<!--================================================================================================-->
	<!-- 											Endereço											-->
	<!--================================================================================================-->

	<div class="form-group" ng-class="{'has-error': ClienteForm.endereco.logradouro.$invalid}">
		<label for="logradouro" class="col-sm-2 control-label">Logradouro</label>
		<div id="logradouroControls" class="col-sm-10">
			<input id="logradouro" name="logradouro" type="text" class="form-control" ng-model="cliente.endereco.logradouro" placeholder="Enter the Endereco Logradouro"></input>
			<span class="help-block error" ng-show="ClienteForm.endereco.logradouro.$error.required">required</span> 
		</div>
	</div>
	
	
	<div class="form-group" ng-class="{'has-error': ClienteForm.endereco.complemento.$invalid}">
		<label for="complemento" class="col-sm-2 control-label">Complemento</label>
		<div id="complementoControls" class="col-sm-10">
			<input id="complemento" name="complemento" type="text" class="form-control" ng-model="cliente.endereco.complemento" placeholder="Enter the Endereco Complemento"></input>
		</div>
	</div>

	<div class="form-group" ng-class="{'has-error': ClienteForm.endereco.cep.$invalid}">
		<label for="cep" class="col-sm-2 control-label">Cep</label>
		<div id="cepControls" class="col-sm-10">
			<input id="cep" name="cep" type="number" class="form-control" ng-model="cliente.endereco.cep" required placeholder="Enter the Endereco Cep"></input>
			<span class="help-block error" ng-show="ClienteForm.endereco.cep.$error.required">required</span>
		</div>
	</div>

	<div class="form-group" ng-class="{'has-error': ClienteForm.endereco.bairro.$invalid}">
		<label for="bairro" class="col-sm-2 control-label">Bairro</label>
		<div id="bairroControls" class="col-sm-10">
			<input id="bairro" name="bairro" type="text" class="form-control" ng-model="cliente.endereco.bairro" placeholder="Enter the Endereco Bairro"></input>
			<span class="help-block error" ng-show="ClienteForm.endereco.bairro.$error.required">required</span> 
		</div>
	</div>

	<div class="form-group" ng-class="{'has-error': ClienteForm.endereco.cidade.$invalid}">
		<label for="cidade" class="col-sm-2 control-label">Cidade</label>
		<div id="cidadeControls" class="col-sm-10">
			<input id="cidade" name="cidade" type="text" required class="form-control" ng-model="cliente.endereco.cidade" placeholder="Enter the Endereco Cidade"></input>
			<span class="help-block error" ng-show="ClienteForm.endereco.cidade.$error.required">required</span> 
		</div>
	</div>

	<div class="form-group" ng-class="{'has-error': ClienteForm.endereco.estado.$invalid}">
		<label for="estado" class="col-sm-2 control-label">Estado</label>
		<div id="estadoControls" class="col-sm-10">
		<select id="estado" name="estado" class="form-control" ng-model="cliente.endereco.estado" >
			<option value="">Choose a Estado</option>
			<option ng-repeat="(k, v) in estadoList" value="{{k}}">{{v}}</option>
		</select>
		<span class="help-block error" ng-show="ClienteForm.endereco.estado.$error.required">required</span> 
		</div>
	</div>

	<!--================================================================================================-->
	<!-- 											Comandos											-->
	<!--================================================================================================-->	

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button id="saveCliente" name="saveCliente" class="btn btn-primary" ng-disabled="isClean() || ClienteForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
			<button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
			<button id="deleteCliente" name="deleteCliente" class="btn btn-danger" ng-show="cliente.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
		</div>
	</div>
</form>