<div class="row text-center">
	<img  src="../../img/crud.svg">
	
	<header ng-switch on="action">
	 <h2 ng-switch-when="new" class="page-title">Cadastro de Grupo de Produtos</h2>
	 <h2 ng-switch-when="edit" class="page-title">Edição de Grupo de Produtos</h2>
	</header>
	
</div>

<form id="GrupoProdutoForm" name="GrupoProdutoForm" class="form-horizontal" role="form">

<div class="panel">
 
	<div class="panel-heading"> </div>
 
	<div class="panel-body">

	<div class="form-group required" ng-class="{'has-error': GrupoProdutoForm.nome.$invalid}">
		<label for="descricao" class="col-sm-2 control-label">Nome</label>
		<div id="nomeControls" class="col-sm-10">
			<input id="nome" name="nome" type="text" class="form-control" ng-model="grupoProduto.nome" 
				   required></input>
		</div>
	</div>

	<div class="form-group required" ng-class="{'has-error': GrupoProdutoForm.descricao.$invalid}">
		<label for="descricao" class="col-sm-2 control-label">Descrição</label>
		<div id="descricaoControls" class="col-sm-10">
			<input id="descricao" name="descricao" type="text" class="form-control" required
				   ng-model="grupoProduto.descricao" ></input>
		</div>
	</div>
	
	<div class="panel-footer text-center">
	
	<div class="form-group">
		<div class="col-sm-10">
			<button id="saveGrupoProduto" name="saveGrupoProduto" class="btn btn-success" ng-disabled="isClean() || GrupoProdutoForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
			<button id="novoGrupoProduto" name="novoGrupoProduto" class="btn btn-primary" ng-show="grupoProduto.id" ng-click="create()">
				<span class="glyphicon glyphicon-plus-sign"></span>
				<span ng-translate="label.novo">Novo</span>
			</button>
			<button id="cancel" name="cancel" class="btn btn-warning" ng-click="cancel()">
				<span class="glyphicon glyphicon-remove-sign"></span>
				<span ng-translate="label.cancelar">Cancelar</span>	
			</button>
			<button id="deleteGrupoProduto" name="deleteGrupoProduto" class="btn btn-danger" ng-show="grupoProduto.id" ng-click="remove(grupoProduto)"><span class="glyphicon glyphicon-trash"></span> Delete</button>
		</div>
	</div>
	
	</div>
	
	</div>
	
	</div>

	<script type="text/ng-template" id="customTemplate.html">
		<a>
			<i class="glyphicon {{match.model.iconClass.nameClass}}" width="16"></i>
			<span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
		</a>
	</script>

	<div class="form-group detail-result">
	
		<div ng-if="action == 'edit'" class="form-group">
			<label for="descricao" class="col-sm-2 control-label">Produto</label>
			<div id="nomeControls" class="col-sm-10 cursor-pointer">
				<input type="text" ng-model="produtoSelecionado" ng-model-options="modelOptions" placeholder="Produto" 
					   typeahead-template-url="customTemplate.html" class="form-control"
					   uib-typeahead="produto as produto.descricao for produto in getLocation($viewValue)"
					   typeahead-loading="loadingLocations" typeahead-no-results="noResults" >
				<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
				<div ng-show="noResults">
					<i class="glyphicon glyphicon-remove"></i><b>&nbsp;Nenhum registro encontrado</b>
				</div>
			</div>
		</div>

		<div ng-if="grupoProduto.produtos && grupoProduto.produtos.length > 0" id="produto-results">
			<div class="table-responsive">
				<table class="table table-responsive table-bordered table-striped clearfix">
					<thead>
						<tr>
							<th class="col-md-8">Nome</th>
							<th class="col-md-2 text-center">Preço</th>
							<th class="col-md-2 text-center">Excluir</th>
						</tr>
					</thead>
					<tbody id="produto-results-body" class="cursor-pointer">
						<tr ng-repeat="result in grupoProduto.produtos">
							<td ng-click="edit($index)"><span ng-bind="result.produto.descricao"></span></td>
							<td class="text-center" ng-click="edit($index)"><span ng-bind="result.produto.precoVenda | currency"></span></td>

							<td class="pointer text-center" ng-click="confirmClick() && remove($index, result)" ai-confirm-click 
								ai-message="Este produto será excluído permanentemente!" 
								uib-popover="Excluir" popover-trigger="mouseenter" ai-title="Excluir Produto"
								ng-class="{trashhover: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
								<span class="glyphicon glyphicon-plus glyphicon-trash">
								</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		
			<ul class="pagination pagination-centered">
				<li ng-class="{disabled:currentPage == 0}">
					<a id="prev" ng-click="previous()">«</a>
				</li>
				<li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
					<a ng-bind="n + 1">1</a>
				</li>
				<li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
					<a id="next" ng-click="next()">»</a>
				</li>
			</ul>
		</div>
	</div>
	
</form>