<h2 class="page-title text-center">
	<span ng-translate="titulo.reset.password">Redefinir Senha</span>
</h2>

<form name="form" class="form-login" ng-submit="reset()" role="form">

	<div class="col-sm-12">
		<h4><span id="telefone"><strong ng-bind="usuario.email"></strong></span></h4>
	</div>
	<div class="col-sm-12">
		<h4><span id="telefone"><strong ng-bind="telefone"></strong></span></h4>
	</div>
	<div class="row" ng-class="{'has-error': form.senha.$dirty && form.senha.$error.required}">
		<input type="password" name="senha" id="senha" class="form-control" ng-model="usuario.senha" required 
			  placeholder="Nova Senha (6 Caracteres)" ng-minlength="6" autocomplete="off"/>
	</div>
	<div class="row"  ng-class="{'has-error': form.senha.$dirty && form.senha.$error.required}">
		<input type="password" name="novaSenha" id="novaSenha" class="form-control" ng-model="senha" required 
			   placeholder="Repetir Nova Senha (6 Caracteres)" ng-minlength="6" autocomplete="off"/>
	</div>
	<div class="row">
		<button id="btn-login" type="submit" ng-disabled="form.$invalid" class="btn btn-lg btn-primary btn-block">
			<span data-ng-hide="loading">
				<span ng-translate="btn.reset.password">Redefinir senha</span>
			</span>
			<span data-ng-show="loading">
				<span ng-translate="btn.reset.password">Redefinir senha</span>
				<i class="fa fa-spinner fa-spin"></i>
			</span>
		</button>
		<span class="error" ng-show="form.senha.$error.minlength || form.novaSenha.$error.minlength">
			<span ng-translate="msg.senha.invalida">Senha curta</span>
		</span>
	</div>

</form>