<h2 class="page-title text-center">
	<span ng-translate="titulo.reset.password">Login</span>
</h2>

<form name="form" class="form-login" ng-submit="reset()" role="form">

	<div class="row">
		<input id="email" name="email" type="email" class="form-control" ng-model="login.usuario.email" placeholder="E-mail" 
			   ng-disabled="true" />
	</div>
	<div class="row">
		<input id="telefone" name="telefone" type="text" class="form-control" ng-model="telefone" placeholder="Telefone" ui-mask="(99) 99999-9999" ui-mask-placeholder
			   ui-mask-placeholder-char="_" ui-pattern="/^\(\d{2}\)\d{4,5}-\d{4}$/" ng-disabled="true" />
	</div>
	<div class="row" ng-class="{'has-error': form.senha.$dirty && form.senha.$error.required}">
		<input type="password" name="senha" id="senha" class="form-control" ng-model="login.usuario.senha" required placeholder="Senha" />
		<span ng-show="form.senha.$dirty && form.senha.$error.required" class="help-block">
			<span ng-translate="INFORMAR_SENHA">Senha obrigatória</span>
		</span>
		<span class="error" ng-show="UsuarioForm.senha.$error.minlength">
			<span ng-translate="msg.senha.invalida">Senha inválida</span>
		</span>
	</div>
	<div class="row"  ng-class="{'has-error': form.senha.$dirty && form.senha.$error.required}">
		<input type="password" name="senha" id="senha" class="form-control" ng-model="login.usuario.senha" required placeholder="Senha" />
		<span ng-show="form.senha.$dirty && form.senha.$error.required" class="help-block">
			<span ng-translate="INFORMAR_SENHA">Senha obrigatória</span>
		</span>
		<span class="error" ng-show="UsuarioForm.senha.$error.minlength">
			<span ng-translate="msg.senha.invalida">Senha inválida</span>
		</span>
	</div>
	<div class="row">
		<button id="btn-login" type="submit" ng-disabled="form.$invalid" class="btn btn-lg btn-primary btn-block">
			<span data-ng-hide="loading">
				<span ng-translate="btn.reset.password">Redefinir senha</span>
			</span>
			<span data-ng-show="loading">
				<span ng-translate="btn.reset.password">Redefinir senha</span>
				<i class="fa fa-spinner fa-spin"></i>
			</span>
		</button>
	</div>

</form>