<div class="row text-center">
	<img  src="../../../img/search.svg">
	<h2 class="page-title">Consumidor</h2>
</div>

<div class="panel">
	<div class="panel-heading"></div>

	<form id="ConsumidorSearch" class="form-horizontal">

		<div class="panel-body">
			<div class="form-group">
				<label for="nomeComercial" class="col-sm-2 control-label">Nome</label>
				<div class="col-sm-10">
					<input id="nomeComercial" name="nomeConsumidor" class="form-control" type="text" ng-model="search.usuario.nome" 
					   autocomplete="off"></input>
				</div>
			</div>
		</div>

		<div class="panel-footer text-right">
			<a id="Search" class="btn btn-primary" ng-click="performSearch()">
				<span class="glyphicon glyphicon-search"></span> <span>Pesquisar</span>
			</a> 
			<a id="novo-consumidor" class="btn btn-primary" ui-sref="app.cliente-consumidor-new">
				<span class="glyphicon glyphicon-plus-sign"></span>
				<span>Novo</span>
			</a>
		</div>

	</form>
</div>

 

<div class="panel" id="search-results"  ng-if="filteredResults.length > 0">
	<div class="panel-body">
 		<div class="table-responsive">
		<table class="table table-responsive table-bordered table-striped clearfix">
			<thead>
				<tr>
					<th class="text-center">Nome</th>
					<th class="text-center">E-Mail</th>
					<th class="text-center">Telefone</th>
				</tr>
			</thead>
			<tbody id="search-results-body" class="cursor-pointer">
				<tr class="pointer" ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
					<td class="text-center" ng-click="edit($index)"><span ng-bind="result.usuario.nome"></span></td>
					<td class="text-center" ng-click="edit($index)"><span ng-bind="result.usuario.email"></span></td>
					<td class="text-center" ng-click="edit($index)"><span ng-bind="result.usuario.telefone | telefone"></span></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="panel-footer">
	<ul class="pagination pagination-centered">
		<li ng-class="{disabled:currentPage == 0}">
			<a id="prev" ng-click="previous()">«</a>
		</li>
		<li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
			<a ng-bind="n + 1">1</a>
		</li>
		<li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
			<a id="next" ng-click="next()">»</a>
		</li>
	</ul>
	</div>
 </div>
</div>