<header ng-switch on="$location.path().indexOf('/Comandas/new') > -1">
	<h3 ng-switch-when="true">Create a new Comanda</h3>
	<h3 ng-switch-when="false">View or edit Comanda</h3>
</header>
<form id="ComandaForm" name="ComandaForm" class="form-horizontal" role="form">
		<div class="form-group" ng-class="{'has-error': ComandaForm.vendas.$invalid}">
		<label for="vendas" class="col-sm-2 control-label">Vendas</label>
		<div id="vendasControls" class="col-sm-10">
			<select id="vendas" name="vendas" multiple class="form-control" ng-model="vendasSelection" ng-options="v.text for v in vendasSelectionList">
				<option value="">Choose a Vendas</option>
			</select>
		</div>
	</div>

	<div class="form-group" ng-class="{'has-error': ComandaForm.dataAbertura.$invalid}">
		<label for="dataAbertura" class="col-sm-2 control-label">Data Abertura</label>
		<div id="dataAberturaControls" class="col-sm-10">
			<datetime id="dataAbertura" name="dataAbertura" ng-model="comanda.dataAbertura" placeholder="Enter the Comanda Data Abertura"></datetime>
			<span class="help-block error" ng-show="ComandaForm.dataAbertura.$error.datetimeFormat">does not match format "yyyy-MM-dd hh:mm:ss" (e.g. 2013-12-01 22:00:00)</span>
		</div>
	</div>

	<div class="form-group" ng-class="{'has-error': ComandaForm.dataFechamento.$invalid}">
		<label for="dataFechamento" class="col-sm-2 control-label">Data Fechamento</label>
		<div id="dataFechamentoControls" class="col-sm-10">
			<datetime id="dataFechamento" name="dataFechamento" ng-model="comanda.dataFechamento" placeholder="Enter the Comanda Data Fechamento"></datetime>
			<span class="help-block error" ng-show="ComandaForm.dataFechamento.$error.datetimeFormat">does not match format "yyyy-MM-dd hh:mm:ss" (e.g. 2013-12-01 22:00:00)</span>
		</div>
	</div>

	<div class="form-group" ng-class="{'has-error': ComandaForm.pagamentos.$invalid}">
		<label for="pagamentos" class="col-sm-2 control-label">Pagamentos</label>
		<div id="pagamentosControls" class="col-sm-10">
			<select id="pagamentos" name="pagamentos" multiple class="form-control" ng-model="pagamentosSelection" ng-options="p.text for p in pagamentosSelectionList">
				<option value="">Choose a Pagamentos</option>
			</select>
		</div>
	</div>

	<div class="form-group" ng-class="{'has-error': ComandaForm.cliente.$invalid}">
		<label for="cliente" class="col-sm-2 control-label">Cliente</label>
		<div id="clienteControls" class="col-sm-10">
		<select id="cliente" name="cliente" class="form-control" ng-model="clienteSelection" ng-options="c.text for c in clienteSelectionList"  >
			<option value="">Choose a Cliente</option>
		</select>
		</div>
	</div>

	<div class="form-group" ng-class="{'has-error': ComandaForm.consumidor.$invalid}">
		<label for="consumidor" class="col-sm-2 control-label">Consumidor</label>
		<div id="consumidorControls" class="col-sm-10">
		<select id="consumidor" name="consumidor" class="form-control" ng-model="consumidorSelection" ng-options="c.text for c in consumidorSelectionList"  >
			<option value="">Choose a Consumidor</option>
		</select>
		</div>
	</div>



	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button id="saveComanda" name="saveComanda" class="btn btn-primary" ng-disabled="isClean() || ComandaForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
			<button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
			<button id="deleteComanda" name="deleteComanda" class="btn btn-danger" ng-show="comanda.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
		</div>
	</div>
</form>