<div class="container">
	<div class="col-md-12 imagens-cadastro">
		<div class="row">
			<div class="col-md-3 col-md-offset-2">
				<span>&nbsp;</span>
			</div>
			<div class="col-md-3 col-md-offset-2">
				<span>&nbsp;</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-md-offset-2 img-circle" style="background-color:white">
				<a href="" ng-click="cadastrar('vendedor')">
					<img class="img-responsive center-block" title="Cadastrar Vendedor" src="img/vendedor.png">
				</a>
			</div>
			<div class="col-md-3 col-md-offset-2 img-circle" style="background-color:white">
			 	<a href="" ng-click="cadastrar('comprador')">
			 		<img class="img-responsive center-block" title="Cadastrar Comprador" src="img/comprador.png">
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-md-offset-2 text-center">
				<h3>
					<span ng-translate="SOU_VENDEDOR">Sou Vendedor</span>
				</h3>
			</div>
			<div class="col-md-3 col-md-offset-2 text-center">
				<h3>
					<span ng-translate="SOU_COMPRADOR">Sou Comprador</span>
				</h3>
			</div>
		</div>
	</div>
</div>